@import "./constants.scss";

.c-select-field {
  min-width: 250px;

  .react-aria-Select {
    display: flex;
    flex-direction: column;
  }

  button {
    font-size: 1.5em;
    padding: 10px 20px;
    background-color: $secondaryColor;
    border: 2px solid $fontsColor;
    border-radius: 10px;
    color: $fontsColor;
    margin-top: 5px;
    margin-bottom: 20px;
    display: flex;
    gap: 1em;
    cursor: pointer;

    &:focus-visible {
      outline: none;
    }
  }
}

.react-aria-ListBox {
  background-color: $secondaryColor;
  font-size: 1.5em !important;
  border: 2px solid $fontsColor;
  border-radius: 10px;
  padding: 10px 20px;
  width: 250px;
}

.react-aria-Popover {
  width: 250px;
}

.c-item {
  cursor: pointer;

  &:hover {
    outline: none;
  }
  &:focus-visible {
    outline: none;
  }
}
