@import "./constants.scss";

.dashboard-cell {
  font-family: $secondaryFont;
  color: $fontsColor;

  width: 25%;
  min-width: 250px;
  max-width: 350px;
  height: 250px;

  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;

  padding: 30px;

  border: 3px solid $fontsColor;
  border-radius: 40px;
}

.dc-icon {
  font-size: 2.75em;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .dc-dots {
    padding-bottom: 5px;
  }
}
.dc-value {
  font-size: 2em;
  margin-bottom: 20px;
  letter-spacing: -0.05em;
  width: 100%;
  text-align: start;
}

.dc-title {
  font-size: 1.3em;
  height: 80px;
  display: flex;
  align-items: center;
}
