@import "../styles/constants.scss";

#LoginPage {
  font-family: $primaryFont;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  row-gap: 2em;

  .login-title {
    font-size: 3em;
    letter-spacing: -0.1em;
    margin-bottom: 0.7em;
  }
  input {
    width: 50vw;
    max-width: 500px;
    min-width: 400px;
    margin-bottom: 40px;
  }
}
