@import "./constants.scss";

#MassAdd {
  margin-top: 2em;

  .mass-add-form {
    font-family: $primaryFont;
    letter-spacing: -0.1em;
    margin-top: 5em;

    .file-selector {
      display: flex;
      flex-direction: column;
    }

    label {
      font-size: 2em;
      display: flex;
      align-items: center;
      gap: 20px;
    }
    input {
      margin-top: 30px;
      margin-bottom: 40px;
      width: fit-content;
      font-size: 1.5em;
    }

    input[type="file"]::file-selector-button {
      font-family: $primaryFont;
      letter-spacing: -0.1em;
      padding: 0.75em 1.5em;
      background-color: $fontsColor;
      color: $tertiaryColor;
      border-radius: 10px;
      margin-right: 2em;
      border: none;
      cursor: grab;
    }
  }

  .error-notification {
    margin-top: 2em;
    width: 100%;
    color: $warningColor;
    font-family: $secondaryFont;

    .error-message {
      font-size: 1.3em;
      margin-bottom: 2em;
    }

    .error-content {
      font-size: 1em;
      margin-left: 5%;
      position: relative;

      &:before {
        content: "";
        position: absolute;
        width: 5px;
        height: 100%;
        top: 0;
        left: -20px;
        background-color: $warningColor;
      }
    }
  }
}
