@import "../styles/constants.scss";

.page-main-title {
  margin-right: 2em;
  font-size: 3em;

  border: 3px solid $fontsColor;
  background-color: $buttonColor;
  border-radius: 0.5em;
  box-shadow: 10px 10px $fontsColor;

  width: fit-content;
  padding: 20px;
}
