@import "../styles/constants.scss";

#MainTable {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3em 0;
  width: 100%;
}

.main-table {
  border: 3px solid $fontsColor;
  background-color: $secondaryColor;
  border-radius: 2em;
  padding: 1.5em 2em;
  box-shadow: 0.9em 0.9em $fontsColor;

  // TABLE HEAD
  thead {
    position: relative;
    height: 70px;
  }
  thead::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    bottom: 30px;
    left: 0;
    background-color: $fontsColor;
  }
  th {
    padding: 10px;
    padding-bottom: 40px;
  }

  // TABLE CONTENT
  tbody {
    font-family: $secondaryFont;
    letter-spacing: 0.01em;
  }
  .evenRow {
    background-color: $tertiaryColor;
  }
  .oddRow {
    background-color: $secondaryColor;
  }
  td {
    padding: 10px 10px;
  }
  .cell-centered {
    text-align: center;
  }
  .crud-icon a {
    color: $fontsColor;
    font-weight: 600;
    font-size: 1.5em;
  }
}
